{{ "<!-- TECHNOLOGY -->" | safeHTML }}
<section class="bg-dark" id="technology">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-code fa-5x wow bounceIn" data-wow-delay=".1s"></i><br><br>
                {{ with .Site.Params.technology.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.technology.headline .Site.Params.technology.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.technology.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.technology.buttonText }}
                    <a href="https://tech.codeyellow.nl/" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
