{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="../img/header.jpg" class="fullscreen-bg__video">
            <source src="/img/cy-background-720p.webm" type="video/webm">
            <!--<source src="video/big_buck_bunny.mp4" type="video/mp4">
            <source src="video/big_buck_bunny.ogv" type="video/ogg">-->
        </video>
    </div>

    <div class="header-content">
        

        <!--<div class="video-container">
        <video src="/img/cy-background-720p.mp4" autoplay class="background-video"></video>
        </div>-->

        <div class="header-content-inner">

            {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
